.bracketHeaderTitle{
    text-align: center;
    margin-bottom: 50px;
}
.columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; 
}

.roundHeader {
  padding: 10px;
  border: 2px solid black;
  text-align: center;
  background-color: lightcyan;
  margin-bottom: 50px;
} 

.round1MatchColumn {
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.round2MatchColumn {
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  align-items: center;
}

.finalRoundMatchColumn {
  display: grid;
  grid-template-rows: repeat(1, auto);
  justify-content: center;
  align-items: center;
}

.winOrLoss {
  display: grid;
  text-align: right;
}

.team {
  position: relative;
  padding: 10px;
  width: 250px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottomButton {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 50px;
}

.buttonDesign {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.emptyWinOrLoss{
  display: none;
}




